{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 border p-3">{{ metrics_summary.http_successful_request.name }}</div>
      <div class="col-sm-2 border p-3">{{ metrics_summary.http_successful_request.value }}</div>
    </div>
    <div class="row">
      <div class="col-sm-10 border p-3">{{ metrics_summary.http_requests.name }}</div>
      <div class="col-sm-2 border p-3">{{ metrics_summary.http_requests.value }}</div>
    </div>
    <div class="row border">
      <div class="col-sm-10 border p-3">{{ metrics_summary.http_4xx_errors.name }}</div>
      <div class="col-sm-2 border p-3">{{ metrics_summary.http_4xx_errors.value }}</div>
    </div>
    <div class="row border">
      <div class="col-sm-10 border p-3">{{ metrics_summary.http_5xx_errors.name }}</div>
      <div class="col-sm-2 border p-3">{{ metrics_summary.http_5xx_errors.value }}</div>
    </div>
    <div class="row border">
      {% for bucket in metrics_summary.histogram_buckets %}
        <div class="col-sm-10 border p-3">{{ bucket.name }} ({{ bucket.le }})</div>
        <div class="col-sm-2 border p-3">{{ bucket.value }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}